
#register > h1, #login > h1 {
    text-align: center;
    width: 100%;
}

#register > form, #login > form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    margin: auto;
    padding: 2em;
}

#register label, #login label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#register label > input, #login label > input {
    border-style: none;
    border-bottom: 1px solid black;
    height: 2em;
}

#register > form > input, #login form > input {
    align-self: flex-end;
    background-color: black;
    color: white;
    padding: 1em;
    border: none;
}

@media (max-width: 30em) {
    #register, #login {
        background-color: white;
        padding: 1em 2em 2em 2em;
    }

    #register > form, #login > form {
        width: 100%;
        padding: 0;
    }
}