body {
    font-family: Verdana, sans-serif;
    background-color: #EDEFF0;
}

body > header {
    background-color: #046DD5;
}

body > header a {
    color: white;
    text-decoration: none;
}

body > header h1, body > header h2, #signup {
    padding-left: 18px;
}

body > header h1 {
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 5px;
    margin: 0px;
}

body > header h2 {
    font-size: 13px;
    padding-bottom: 5px;
    margin: 0px;
}

#signup {
    font-size: 13px;
    padding-bottom: 1em;
    padding-right: 1em;
}

#signup :first-child {
    padding-right: 1em;
    border-right: 1px solid white;
}

#signup :nth-child(2) {
    padding-left: 1em;
    padding-right: 1em;
}


#hamburger {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0%;
}

.hamburger {
    display: none;
}

#menu > ul {
    background-color: white;
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    margin: 0px;
}

#menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#menu li {
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu li:nth-child(1) {
    border-top: 5px solid #E1493E;
}

#menu li:nth-child(2) {
    border-top: 5px solid #8ABA56;
}

#menu li:nth-child(3) {
    border-top: 5px solid #5B4282;
}

#menu li:nth-child(4) {
    border-top: 5px solid #FF8932;
}

#menu li:nth-child(5) {
    border-top: 5px solid #19B6E9;
}

#menu li:nth-child(6) {
    border-top: 5px solid #E84C8B;
}


#related {
    background-color: #2A2F33;
    color: white;
    padding: 1em;
}

#related a {
    color: inherit;
    text-decoration: none;
}

#related p {
    font-family: Georgia, serif;
}

article > header a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
    position: absolute;
    padding: 1em 0 0 1em;
    max-width: 20%;
}

article img {
    width: 100%;
}

#news article {
    background-color: white;
    margin: 1em 1em 1em 0;
}

#news article p {
    font-family: Georgia, serif;
    padding-left: 1em;
    padding-right: 1em;
}

#news article p:first-of-type::first-letter {
    font-size: 2em;
}

#news article > footer {
    background-color: #F4655F;
    color: white;
    font-size: 0.8em;
    padding: 1em;
}

#news article > footer a {
    color: inherit;
}

.author::before {
    content: "By ";
}

.date {
    padding-left: 1em;
    padding-right: 1em;
}

.comments::after {
    content: " comments"
}

body > footer {
    font-family: Georgia, serif;
    background-color: #2A2F33;
    color: white;
    padding-left: 1em;
    margin-right: 1em;
}
